In [8]:
import pandas as pd
import statistics as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
dataset = pd.read_csv('50Startups_Script File.csv') 
#_csv is used here to inform the IDE what's the extension of the file

In [14]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [18]:
dataset.describe() #gives statistics about the dataset
#count: number of non-null (non-NaN) values in each column

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [22]:
mode_value = dataset.mode().loc[0]
print(mode_value)

R&D Spend                 0.0
Administration       51283.14
Marketing Spend           0.0
State              California
Profit                14681.4
Name: 0, dtype: object

In [24]:
dataset.State.value_counts() #how many units each one of the states has in the dataset

State
New York      17
California    17
Florida       16
Name: count, dtype: int64

In [30]:
#how many occurences of 0.0 are in the RD Spend column?

rd_zero = (dataset['R&D Spend'] == 0.0 ).sum() #creates a boolean series where 0.0 returns true and the opposite, false
#the sum() counts how many true occurrences exist in the dataset
#since there are 2 true values (true = 0.0), that's the result printed 
print(rd_zero)

2

In [32]:
mkt_zero = (dataset['Marketing Spend'] == 0.0).sum()
print(mkt_zero)

3

In [38]:
mkt_abvmean = (dataset['Marketing Spend'] >= 211025.097800).sum()
print(mkt_abvmean)

#count and print how many values from the Marketing Spend column are equal or above the mean

25

In [54]:
adm_tquart = (dataset['Administration'] >= 144842.180000).sum()
print(adm_tquart)

#count and print how many values from the Administration column are located on the third quartile

13

In [56]:
dataset.dtypes #type of data existent in every column

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [84]:
#calculating relative frequency

# if dataset['State'] == "California":
value_counts = dataset['State'].value_counts()
freq_cali = dataset['State'].value_counts()['California']/len(dataset)
print(freq_cali)

0.34

In [86]:
rel_freq = dataset['State'].value_counts()/len(dataset)
print(rel_freq)

State
New York      0.34
California    0.34
Florida       0.32
Name: count, dtype: float64

In [88]:
freq_flo = dataset['State'].value_counts()['Florida']/len(dataset)
print(freq_flo)

0.32

In [90]:
freq_ny = dataset['State'].value_counts()['New York']/len(dataset)
print(freq_ny)

0.34

In [92]:
#Creating a table to show the data altogether

subtable = pd.DataFrame({'State': value_counts.index, 
                         'Frequency': value_counts.values, 
                         'Relative Frequency': rel_freq.values
})
print(subtable)

        State  Frequency  Relative Frequency
0    New York         17                0.34
1  California         17                0.34
2     Florida         16                0.32

In [94]:
#mean of Administration column
mean_adm = dataset['Administration'].mean()
print(mean_adm)

121344.63960000001

In [98]:
median_adm = dataset['Administration'].median()
print(median_adm)

122699.795

In [100]:
mode_adm = dataset['Administration'].mode()
print(mode_adm)

0      51283.14
1      51743.15
2      65947.93
3      82982.09
4      84710.77
5      85047.44
6      91391.77
7      91790.61
8      96189.63
9      99281.34
10     99814.71
11    101145.55
12    103057.49
13    105751.03
14    108679.17
15    110594.11
16    113867.30
17    114175.79
18    115641.28
19    115816.21
20    116983.80
21    118546.05
22    118671.85
23    121597.55
24    122616.84
25    122782.75
26    124153.04
27    127056.21
28    127320.38
29    127382.30
30    127864.55
31    129219.61
32    135426.92
33    135495.07
34    136897.80
35    139553.16
36    144135.98
37    145077.58
38    145530.06
39    147198.87
40    148718.95
41    151377.59
42    152701.92
43    153032.06
44    153514.11
45    153773.43
46    154806.14
47    156547.42
48    157693.92
49    182645.56
Name: Administration, dtype: float64

In [102]:
print(dataset)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [104]:
mode_adm = dataset['Administration'].mode()[0]
print(mode_adm)

51283.14